body {
  font-family: "Ubuntu Condensed", sans-serif;

  font-size: 1rem;
  padding: 20px 40px;
}
@media screen and (max-width: 1000px) {
  body {
    padding-top: 1rem;
    padding: unset;
    margin: 0 1rem;
  }
}

a,
a:hover {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
