.sign-in-and-sign-up {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    width: 90vw;
  }
}
